<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625387710595-1ap8n52tkdva34pak9dop58krnahl576.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625387710595-1ap8n52tkdva34pak9dop58krnahl576</string>
	<key>API_KEY</key>
	<string>AIzaSyDN-z2GlZhtu-igF_ZRV5Rl-dy8QgnxfZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>625387710595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMultiprovider</string>
	<key>PROJECT_ID</key>
	<string>signin-flutter-45523</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-flutter-45523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625387710595:ios:9ff088012f79c2ad7a13b6</string>
	<key>DATABASE_URL</key>
	<string>https://signin-flutter-45523.firebaseio.com</string>
</dict>
</plist>